<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://kit.fontawesome.com/aa1a2a1c33.js" crossorigin="anonymous"></script>

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

	<h1>Power Thoughts</h1>
	<span>A customizable wellness plan specific to your personality traits. Sign up create a login enter your demographics and take the personality “questionnaire” and recieve personalized program for wellness based on your results from the test. The wellness plan will include mental growth challenges such as purposeful journaling, timeframe manifestations, meditation exercises, and daily affirmations but all will be catered to your needs. The goal is to improve mental well-being and increase mental mindfulness aiming to integrate the mind-body-based approach that helps people to manage their thoughts and feelings and mental health. Mental mindfulness has become widely used in a range of contexts. This web app can be used as a preventative practice for people with experience of recurrent depression, anxiety, or for people who need to gain more awareness of their emotions, boost attention and concentration, and improve their relationships with others.

	I want people to feel enlightened, inspired, and joyful while integrating the mind-body-based approach that helps people to manage their thoughts and feelings.</span>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
